.nav-bar {
    display: flex;
    justify-content: space-around;
    /* Semi-transparent background */
    background: linear-gradient(135deg, rgba(0, 0, 0, 0.1), rgba(7, 0, 99, 0.445));

    /* The blur effect that simulates frosted glass */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    /* Safari support */

    /* Subtle border to catch light */
    border: 1px solid rgba(255, 255, 255, 0.089);
    border-radius: 35px;
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 50%;
    bottom: 15px;
    height: 65px;
    transform: translateX(-50%);
    width: 90%;
    padding: 0 10px;
}

.nav-bar .nav-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    text-decoration: none;
    color: #000;
}

.nav-bar .icon {
    height: 24px;
    width: 24px;
    object-fit: contain;
}

.nav-bar .nav-item .label {
    font-size: 12px;
    font-weight: 700;
    margin-top: 4px;
    font-family: monospace, sans-serif;
}

.nav-bar .nav-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #fff;
}

/* Active floating button state */
.nav-item.active {
    position: relative;
    top: -15px;
    /* Lifts the item above the bar */
    background-color: #ffffff;
    width: 60px;
    height: 60px;
    border-radius: 50%;

    /* Semi-transparent background */
    background: rgba(255, 255, 255, 0.15);

    /* The blur effect that simulates frosted glass */
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);

    /* Subtle border to catch light */
    border: 1px solid rgba(255, 255, 255, 0.25);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.2);
}

/* Make icon slightly larger inside the active circle */
.nav-item.active .icon {
    width: 32px;
    height: 32px;
}

/* Hide label on active item */
.nav-item.active .label {
    display: none;
}

.label {
    font-size: 12px;
    font-weight: 700;
    margin-top: 4px;
    font-family: monospace, sans-serif;
    color: #ffffff;
}